R2_ENDPOINT=https://YOUR_ACCOUNT_ID.eu.r2.cloudflarestorage.com
R2_BUCKET=nipkaart-municipal-staging
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
COLLECTOR_INTERVAL_SECONDS=86400

# Existing source clients (not enabled in the scheduled collector)
ARCGIS_SOURCE="https://opendata.arcgis.com/datasets"
CKAN_SOURCE="https://ckan.dataplatform.nl"
GRONINGEN_SOURCE="https://data.groningen.nl/sites/default/files"
